.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    overflow: scroll;
}

.board, .boardDragging {
    position: relative;
    width: 200vw; /* Increased size to accommodate zoom out */
    height: 200vh;
    background-image: radial-gradient(circle, #b8b8b8bf 1px, rgba(0, 0, 0, 0) 1px);
    cursor: grab;
}

.boardDragging {
    cursor: grabbing;
}
