.port {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.port-left {
    left: -20px;
}

.port-right {
    right: -20px;
}

.port-circle {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px 0;
    border: 2px solid #333;
    cursor: pointer;
}

.port-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.port-position-left {
    left: 10px;
}

.port-position-right {
    right: 10px;
}

.port-btn {
    background: none;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
